{% extends 'base.html.twig' %}

{% block title %} La Librairie Candide {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%;   }
    .titleHome{
 margin-bottom: 20px;
    }
    
</style>

<div class="example-wrapper">
    <h1 class="titleHome">{% trans %} La Librairie Candide | Depuis 1545 {% endtrans %}</h1>
<img class="image" src="{{asset('img/library.jpg')}}" >
</div>
{% endblock %}