{% for livre in livres %}
    {% if livre.disponibilite %}
        {# Le livre est disponible #}
    {% else %}
        {% set prets = livre.getPrets() %}
        {% for pret in prets %}
            <tr>
                <td>{{ livre.nom }}</td>
                <td>{{ livre.image }}</td>
                <td>
                    {% if pret.getDateRendu() > "now"|date('Y-m-d') %}
                        Emprunté
                    {% else %}
                        <span style="color: red;">Emprunté (En retard)</span>
                    {% endif %}
                </td>
                <td>
                    {% if pret.getDateRendu() > "now"|date('Y-m-d') %}
                        <a href="{{ path('app_admin_restituer_livre', {'id': livre.id}) }}" class="btn btn-primary">Restituer</a>
                    {% else %}
                        <span style="color: red;">Retardataire</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% else %}
    <tr>
        <td colspan="4">Aucun livre trouvé</td>
    </tr>
{% endfor %}
